#app {
    text-align: center;
    /* background-color: blueviolet; */
    width: 800px;
    margin: auto;
}

.characters {
    display: grid;
    color: rgb(5, 5, 5);
    grid-template-columns: repeat(4, 1fr);
    
}

.item img {
    width: 200px;
}